<app-sidebar></app-sidebar>
<hr>
<p-dropdown
  psdTooltip
  pTooltip="Hello World"
  psdDropdown
  [options]="cities"
  optionLabel="name"
></p-dropdown>
<p-calendar psdTooltip pTooltip="Hello World" psdCalendar></p-calendar>
<button
  psdTooltip
  pTooltip="Hello World"
  type="button"
  pButton
  icon="pi pi-bars"
  label="Show"
  (click)="menu.toggle($event)"
></button>
<p-menu
  psdTooltip
  pTooltip="Hello World"
  psdMenu
  #menu
  [popup]="true"
  [model]="items"
></p-menu>
<p-multiSelect
  psdTooltip
  pTooltip="Hello World"
  psdMultiSelect
  [options]="cities"
  optionLabel="name"
></p-multiSelect>

<p-autoComplete
  psdAutoComplete
  [(ngModel)]="text"
  [suggestions]="results"
  [minLength]="1"
  (completeMethod)="search($event)"
  [dropdown]="true"
></p-autoComplete>
<p-cascadeSelect
  psdCascadeSelect
  [(ngModel)]="selectedCity1"
  [options]="countries"
  optionLabel="cname"
  optionGroupLabel="name"
  [optionGroupChildren]="['states', 'cities']"
  [style]="{ minWidth: '14rem' }"
>
</p-cascadeSelect>
<p-colorPicker psdColorPicker></p-colorPicker>

<p-megaMenu psdMegaMenu [model]="megaItems"></p-megaMenu>

<p-menubar psdMenuBar [model]="menuBarItems"></p-menubar>

<p-confirmPopup psdConfirmPopup></p-confirmPopup>
<button
  (click)="confirm($event)"
  pButton
  icon="pi pi-check"
  label="Confirm"
></button>

<h5>Slide Menu</h5>
<button
  #btn
  type="button"
  pButton
  icon="pi pi-bars"
  label="Show"
  (click)="slideMenu.toggle($event)"
></button>
<p-slideMenu
  psdSlideMenu
  #slideMenu
  [model]="slideItems"
  [popup]="true"
  [viewportHeight]="250"
></p-slideMenu>

<h5>Tiered Menu</h5>
<button
  #btn
  type="button"
  pButton
  icon="pi pi-bars"
  label="Show"
  (click)="tieredMenu.toggle($event)"
></button>
<p-tieredMenu
  psdTieredMenu
  #tieredMenu
  [model]="tieredItems"
  [popup]="true"
></p-tieredMenu>

<h5>Context Menu</h5>
<img
  #img
  src="https://primefaces.org/primeng/showcase/assets/showcase/images/demo/nature/nature3.jpg"
  alt="Logo"
  aria-haspopup="true"
/>
<p-contextMenu
  appendTo="body"
  [target]="img"
  [model]="contextItems"
></p-contextMenu>

<p-overlayPanel psdOverlayPanel #op appendTo="body">
  <ng-template pTemplate> Content </ng-template>
</p-overlayPanel>

<button type="text" pButton label="Basic" (click)="op.toggle($event)"></button>

<h5>Split Button</h5>
<p-splitButton
  psdSplitButton
  label="Save"
  icon="pi pi-plus"
  [model]="items"
></p-splitButton>

<h5>Single</h5>
<p-treeSelect
  psdTreeSelect
  [options]="node1"
  placeholder="Select Item"
></p-treeSelect>

<p-paginator
  psdPaginator
  [rows]="10"
  [totalRecords]="120"
  [rowsPerPageOptions]="[10, 20, 30]"
></p-paginator>
